
html, body {
    height: 100%;
    margin: 0;
    display: flex
  }
   

.page-wrapper {
    border: 5px solid black;
    height: 100%;
}
.background {
    background-image:url("My\ Post.png");
}

.omen-title {
    font-family: 'Courier New', monospace;
    margin: auto;
    width: 50%;
    color: beige;
}


  